.navBar{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
   
}

.h3{
    margin-left: 10px;
}
ul{
    flex:1;
    list-style: none;
    text-align: center;
   
    }

ul li{
    display:inline-block;
    margin:10px 20px;
    font-size: 16px;
    cursor:pointer;
}

a{
    color: black;
    text-decoration: none;
    display: inline-block; /* Allows scaling */
    transition: transform 0.3s ease; /* Adds smooth scaling */
    font-weight: 600;
    
}

a:hover{       
    transform: scale(1.5);
    font-weight: bold;
} 


